<!DOCTYPE html>
<html lang="en">
<head>
    <title>choose disability</title>
    <link rel="stylesheet"  href="/static/about.css">

               <style>
        .banner {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
                              url('/static/disability.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
              <div class="banner">
          <div class="navbar">

                <ul>
  <li>
    <input type="checkbox" id="visual-checkbox">
    <label for="visual-checkbox" title="Visual disability refers to any
      condition or impairment that affects a person's vision or ability to see.
      It can include a wide range of visual impairments,
      such as blindness, low vision, color blindness, or other visual disorders">Visual Disability</label>
  </li>
  <li>
    <input type="checkbox" id="hearing-checkbox">
    <label for="hearing-checkbox" title="Hearing disability, also known as hearing loss or hearing impairment,
    refers to a reduced ability to hear sounds or perceive auditory information.
     It can range from mild to profound and can affect one or both ears.">Hearing Disability</label>
  </li>
  <li>
    <input type="checkbox" id="mobility-checkbox">
    <label for="mobility-checkbox" title="Mobility disability refers to a condition or impairment that affects a person's ability
     to move or navigate their environment.
     It can result from various factors, including congenital disabilities, injuries, illnesses,
     or age-related conditions. Mobility disabilities can range from mild to severe
     and can affect different parts of the body, such as the legs, arms, or both">Mobility Disability</label>
  </li>
  <li>
    <input type="checkbox" id="cognitive-checkbox">
    <label for="cognitive-checkbox" title="Cognitive disability,
    also known as intellectual disability, refers to a condition characterized by limitations in intellectual functioning and adaptive behavior.
     It is typically diagnosed before the age of 18 and affects a person's cognitive and intellectual abilities,
      as well as their daily living skills.">Cognitive Disability</label>
  </li>
</ul>

          </div>

          <div class="content">
              <h1>DISABILITY IS NOT INABILITY</h1>
              <p>a quest for inclusion and participation for people with disability in the society</p>
          </div>
          <div>
              <button type="button"onclick="activateVoicecommands()"><span></span>ACTIVATE</button>

          </div>

      </div>



</body>
</html>