
<!DOCTYPE html>
<html>
<head>
  <title>Schedule Appointment</title>
  <link rel="stylesheet"  href="/static/appointment.css">

      <style>
        body {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
                              url('/static/appointment.png');
            background-size: cover;
            background-position: center;
        }
    </style>

</head>
<body>
  <h1>SCHEDULE YOUR APPOINTMENTS</h1>
  <form action="/appointment" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required><br><br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br><br>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required><br><br>

    <input type="submit" value="Schedule">
  </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--
   <script>
    $(document).ready(function() {
        // JavaScript code to handle page load event
        speak('appointment page use voice to schedule appointment');

        // Function to handle speech synthesis
        function speak(text) {
            if ('speechSynthesis' in window) {
                var speech = new SpeechSynthesisUtterance();
                speech.text = text;
                speechSynthesis.speak(speech);
            } else {
                console.log('Speech synthesis is not supported in your browser.');
            }
        }
    });
  </script>
-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script>
    $(document).ready(function() {
        $(document).on('startSpeech', function() {
            var labels = $('label');
            var index = 0;

            speak('This is the Schedule Appointment page. Please provide the following details.');

            speak(labels.eq(index).text());

            function speak(text) {
                if ('speechSynthesis' in window) {
                    var speech = new SpeechSynthesisUtterance();
                    speech.text = text;
                    speech.onend = function() {
                        setTimeout(listen, 2000); // Delay before starting to listen
                    };

                    speechSynthesis.speak(speech);
                } else {
                    console.log('Speech synthesis is not supported in your browser.');
                }
            }

            function listen() {
                var recognition = new webkitSpeechRecognition();
                recognition.lang = 'en-US';

                recognition.onresult = function(event) {
                    var result = event.results[0][0].transcript;
                    var currentInput = labels.eq(index).next('input');

                    currentInput.val(result);
                    index++;

                    if (index < labels.length) {
                        speak(labels.eq(index).text());
                        listen();
                    } else {
                        // All inputs have been filled
                        recognition.stop();
                    }
                };

                recognition.start();
            }

            listen();
        });

        $(document).trigger('startSpeech');
    });
  </script>


</body>
</html>


